*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0 auto;
  padding: 1rem;
  background-color: silver;
}

main{
  margin: 0 auto;
  padding: 1rem;
  width: 1000px;
  height: 90vh; 
  max-width: 100%;
  border: 2px solid rgba(255, 217, 0, 0.75);
}

#image-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
  height: 100%;
  border: 10px solid green;
  position: relative;
}


#top-img{
  width: 100%;
  height: 50%;
  background-size: contain;
  border: 5px solid yellow; 
}

#bottom-img{
  width: 100%;
  height: 50%;
  background-size: contain;
  border: 5px solid gold; 
}

h1{
  text-align: center;
}

h2{
  font-size: 2rem;
}

#villian{
  position: absolute;
  top: 2%;
  right: 10px;
  color: white;
}

#memory{
  position: absolute;
  top: 52%;
  left: 10px;
  color: white;
}


#villian, #memory {
  font-size: 4em;
  text-transform: uppercase;
 /* color: #f2395a;*/
 color: silver;
  -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
          transform: skew(-5deg, -5deg) rotate(5deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  text-shadow: 1px 1px #d10e31,
               2px 2px #d10e31,
               3px 3px #d10e31,
               4px 4px #d10e31,
               5px 5px #d10e31,
               6px 6px #d10e31,
               7px 7px #d10e31,
               8px 8px #890920,
               9px 9px #890920,
               10px 10px #890920,
               11px 11px 15px rgba(0,0,0,0.5);
}

    /* MEDIA QUERIES */
    @media (max-width: 700px){
      #villian, #memory{
        font-size: 1.25em;
        text-shadow: 1px 1px #d10e31,
        2px 2px #d10e31,
        3px 3px #d10e31,
        4px 4px #d10e31,
        5px 5px #d10e31,
        6px 6px #d10e31,
        7px 7px 9px rgba(0,0,0,0.5);

      }

    }